
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  {{#if username}}
    <nav class='blue light-3'>
      <div class='nav-wrapper'>
        <a href="#" data-activates="slide-out" class="brand-logo"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav">
      <li><a class="waves-effect" href="/find/connections"></a></li>
      <li><a class="subheader">Connect</a></li>
      <li><a class="waves-effect" href="/find/connections">Find Connections</a></li>
      <li><a class="subheader">Me</a></li>
      <li><a class="waves-effect" href="/profile">Profile</a></li>
      <li><a class="subheader">Search</a></li>
      <li><a class="waves-effect" href="/search"><i class="material-icons">search</i></a></li>
      <li><a class="subheader">About</a></li>
      <li><a class="waves-effect" href="/about">About This Site</a></li>
    </ul>
    <h2 id='welcome'>Welcome to your Homepage, {{user.first_name}}</h2>
  {{else}}
    <nav class='blue darken-4'>
      <div class='nav-wrapper'>
        <a href="#" class="brand-logo">Connect</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/register">Sign Up</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="">Facebook Login</a></li>
       </ul>
      </div>
    </nav>
    <h1>Connections</h1>
    <div class='block'>
      <a href="/register" id="start-button" class="btn-large waves-effect waves-light blue">Get Started</a>
    </div>
  {{/if}}
<script type='text/javascript'>
  $(document).ready(function(){
      $(".brand-logo").sideNav();

      /*$(".brand-logo").click(function(){
        console.log('brand logo clicked');
        var sidebar = $(".w3-sidebar.w3-bar-block.w3-border-right");
        var header = $("#welcome");
        console.log(sidebar);
        sidebar.show();
        header.hide();
        var icon = $('.material-icons');
        icon.replaceWith('<i class="fa fa-home"></i>');
      });

      $('#closeBtn').click(function(){
        var sidebar = $(".w3-sidebar.w3-bar-block.w3-border-right");
        sidebar.hide();
        var icon = $('.fa.fa-home');
        icon.replaceWith('<i class="material-icons">menu</i>');
      });*/
  });
</script>
</body>
