<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav class='blue light-3'>
    <div class='nav-wrapper'>
      <a href="/" class="brand-logo"><i class="fa fa-home"></i></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/register">Sign Up</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="">Facebook Login</a></li>
     </ul>
    </div>
  </nav>
  <div class='container'>
    <h2>Register</h2>
    {{#if MissingFieldsMessage}}
      <h6 class='red' style='width:30%;'>{{MissingFieldsMessage}}</h6>
    {{/if}}
    {{#if ExistsErrMessage}}
      <h6 class='red' style='width:30%;'>{{ExistsErrMessage}}</h6>
    {{/if}}
    <div class='row'>
      <form class='col s6' method='post' action='/register'>
        <div class="row">
            <div class="input-field col s6">
              <input id="username" name="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input id="password" name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input id="first_name" name="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="last_name" type="text" name="last_name" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="company_name" name="company" type="text" class="validate">
            <label for="company_name">Company</label>
          </div>
        </div>
        <!--<div class="row">
          <div class="input-field col s6">
            <input id="location" name="location" type="text" class="validate">
            <label for="location">Location</label>
          </div>
        </div>--->
        <div class="row">
          <div class="input-field col s12">
            <select id='selectLocation' name='location'>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">California</option>
              <option value="2">Conneticut</option>
              <option value="3">Florida</option>
              <option value="4">Massachusetts</option>
              <option value="5">New Jersey</option>
              <option value="6">New York</option>
            </select>
            <label>Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="birthday" type="date" name="birthday" class="datepicker">
            <label for="birthday">Birthday</label>
          </div>
        </div>
        <input type='submit' class='waves-effect waves-light btn' value='Go'>
      </form>
    </div>
  </div>
  <script>

  $(document).ready(function(){
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 150 // Creates a dropdown of 15 years to control year
    });
    $('select').material_select();
  });
  </script>
</body>
